<section
  class="relative w-full bg-white py-12 md:py-20 lg:py-32 px-8 md:px-16 flex flex-col lg:flex-row items-center lg:items-start gap-12 container">
  <!-- Left Side: Image -->
  <div class="flex-shrink-0 w-full lg:w-[600px]">
    <img src="assets/Images/Mask_group.png" data-aos="zoom-in" data-aos-duration="1000" alt="Salesync Client" class="w-full h-auto object-contain" />
  </div>

  <!-- Right Side: Text -->
  <div class="flex-1 py-5">
    <h2 class="text-3xl md:text-5xl font-bold font-poppins mb-5" data-aos="zoom-in" data-aos-duration="1000">
      <span class="text-Secondary">Salesync </span>
      <span class="text-headingPrimary uppercase">Client</span>
    </h2>
    <p class="text-base md:text-lg text-gray-600 leading-relaxed 
    font-poppins font-normal max-w-2xl" data-aos="fade-up" data-aos-duration="1000">
      Ever since the establishment of United Industries Limited in 1962, they are proudly housing the most beloved
      consumer goods for every generation.
      With a distribution network spread across the country, UIL strongly emphasizes on Research & Development.
      International standards are maintained in all products by using the latest modern techniques of purification and
      processing through ultra-high-tech equipment.

    </p>
    <p class="text-base md:text-lg text-gray-600 leading-relaxed
    font-poppins font-normal max-w-2xl mt-4" data-aos="fade-up" data-aos-duration="1000">
      Now, UIL is using Vendi to manage their warehouse and sale transmission.UIL is a happy and our progressive client.
    </p>
  </div>
</section>