<section class="relative w-full bg-[#003051] bg-opacity-95 py-16 px-8 md:px-14 lg:px-32">
    <!-- Background -->
    <img src="assets/Images/reporting.svg" alt="Background" class="absolute inset-0 w-full h-full object-cover -z-10" />

    <!-- Heading -->
    <div class="max-w-3xl" data-aos="zoom-in" data-aos-delay="1000">
        <h2 class="text-3xl md:text-5xl font-bold font-inter text-white">
            Report <span class="text-[#27d3ff]">Management</span>
        </h2>
        <p class="mt-4 text-base md:text-lg text-white max-w-[80%]">
            Use predefined dashboards or build your own with the advanced reporting
            engine — Share filters with the team.
        </p>
    </div>

    <!-- Main Content -->
    <div class="mt-12 ">
        <!-- Left Column -->
        <div class="space-y-8 md:space-y-11">
            <!-- Report Items -->
            <div class="flex justify-end w-full lg:w-[55%]" >
                <ul class=" space-y-4">
                    <li data-aos="fade-up" data-aos-duration="1000" *ngFor="let item of reportItems" class="flex items-center font-normal font-inter gap-4 text-white text-base md:text-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="min-w-5"
                            color="#28d4ff" fill="none">
                            <path
                                d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                                stroke="#28d4ff" stroke-width="2"></path>
                            <path d="M8 12.5L10.5 15L16 9" stroke="#28d4ff" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        <span>
                            {{ item }}
                        </span>
                    </li>
                </ul>
            </div>

            <!-- Advance Report Items -->
            <div>
                <h3 class="text-3xl font-bold text-white" data-aos="zoom-in" data-aos-duration="1000">
                    Advance <span class="text-[#27d3ff]">Reports</span>
                </h3>
                <ul class="mt-6 space-y-4">
                    <li data-aos="fade-up" data-aos-duration="1000" *ngFor="let item of advanceReportItems" class="flex items-center font-normal font-inter gap-4 text-white text-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"
                            color="#28d4ff" fill="none">
                            <path
                                d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                                stroke="#28d4ff" stroke-width="2"></path>
                            <path d="M8 12.5L10.5 15L16 9" stroke="#28d4ff" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        <span>
                            {{ item }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Right Column (Images) -->
            <img src="assets/Images/arrow.svg" alt="Shape" data-aos="zoom-in" data-aos-duration="1000"
                class="absolute top-16 right-[10%] w-1/2 max-w-sm opacity-80 z-10 hidden lg:flex" />
            <img data-aos="zoom-in" data-aos-duration="1000" src="assets/Images/businesswomen.png" alt="Business woman" class="absolute z-20 object-cover bottom-0 lg:right-[5%] xl:right-[15%] max-w-md h-[740px] w-auto hidden lg:flex" />
            <img data-aos="zoom-in" data-aos-duration="1000" src="assets/Images/report-management 1.svg" alt="Report management"
                class="absolute -bottom-4 right-[15%] xl:right-[25%] z-30 w-3/4 max-w-md hidden lg:flex" />
    </div>
</section>